<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leads Admin Page</title>

    </head>
    <body>
        <h1>Welcome to the Leads Admin Page!</h1>
        <div>
            <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>

        </div>

            <div>
            <label for="first_name">Please enter First Name: </label>
            <input type="text" id="first_name" placeholder="Enter first name" required>

            <label for="last_name">Please enter Last Name: </label>
            <input type="text" id="last_name" placeholder="Enter last name" required>

                <label for="email">Please enter Email: </label>
            <input type="text" id="email" placeholder="Enter email" required>
        </div>

        <div>
            <button id="change">Confirm Lead has been reached out</button>
             &nbsp;
            <div id="change_output"></div>
            &nbsp;
        </div>

        <div>
      <button id="getAllLeads">Get All Leads</button>
        &nbsp;
        <div id="get_output"></div>
        &nbsp;
        <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Resume</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- Data will be inserted here -->
        </tbody>
    </table>
    </div>
    </body>
</html>
<script>
        // Button Registration
        const changeStatusButton = document.getElementById('change');
        const getAllButton = document.getElementById('getAllLeads');

        // Output fields
        const changeStatusOutput = document.getElementById('change_output');
        const getOutput = document.getElementById('get_output');


        // Function to change user information
        changeStatusButton.addEventListener('click', () => {
                const firstName = document.getElementById('first_name').value;
                const lastName = document.getElementById('last_name').value;
                const email = document.getElementById('email').value;

                const response = fetch('http://127.0.0.1:8000/leads/', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({first_name: firstName, last_name: lastName, email: email})
                }).then(response => {
                    if (response.ok) {
                        alert("Lead has been updated")
                    } else {
                        alert("User could not be updated")
                    }
                }).catch(error => {
                    changeStatusOutput.textContent = "Error in changing user information"
                    console.log('Error', error)
                });
            });

        // Function to delete user
        getAllButton.addEventListener('click', () => {
                getOutput.textContent = ""
                fetch('http://127.0.0.1:8000/leads/', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('table-body');
                    tableBody.innerHTML = ''; // Clear existing rows

                    data.forEach(item => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                        <td>${item.id}</td>
                        <td>${item.first_name}</td>
                        <td>${item.last_name}</td>
                        <td>${item.email}</td>
                        <td>${item.resume}</td>
                        <td>${item.status}</td>
                    `;
                    tableBody.appendChild(row);
            });
                }).catch(error => {
                    getOutput.textContent = "Error in retrieving leads"
                    console.log('Error', error)
                });
            });

</script>